@use "abstracts/variables";

@use "base/reset";
@use "base/typography";
@use "components/button";

body {
  font-family: var(--body-font-family), sans-serif;
  font-weight: var(--body-font-weight);
  line-height: 1;
}
