$neutral--100: #0f171f;
$neutral--95: #131b24;
$neutral--90: #151f29;
$neutral--85: #1d2833;
$neutral--80: #2b3947;
$neutral--70: #3e4d5c;
$neutral--60: #516070;
$neutral--50: #6d7e8f;
$neutral--40: #8b9cad;
$neutral--30: #a3b2c2;
$neutral--20: #bcc9d6;
$neutral--15: #d8e1eb;
$neutral--10: #ebf0f5;
$neutral--05: #f5f7fa;
$neutral--00: #ffffff;

$green--90: #073e2e;
$green--70: #05855e;
$green--50: #00b881;
$green--30: #00d395;
$green--10: #d8f6ed;

$purple--90: #3c2870;
$purple--70: #7b42eb;
$purple--50: #9669ed;
$purple--30: #c999ff;
$purple--10: #f1e0ff;

$blue--90: #063247;
$blue--70: #05537a;
$blue--50: #05537a;
$blue--30: #00aaff;
$blue--10: #eaf7fe;

$red--90: #522427;
$red--70: #c22730;
$red--50: #f54e59;
$red--30: #ff7a83;
$red--10: #ffebec;

$gold--90: #472214;
$gold--70: #e05a00;
$gold--50: #ff871f;
$gold--30: #ffa947;
$gold--10: #ffe7b8;
