$neutral--100: #04070a;
$neutral--95: #151f29;
$neutral--95: #151f29;
$neutral--90: #1d2833;
$neutral--85: #25313d;
$neutral--70: #3e4d5c;
$neutral--60: #516070;
$neutral--50: #6d7e8f;
$neutral--40: #8b9cad;
$neutral--30: #a3b2c2;
$neutral--20: #bcc9d6;
$neutral--15: #d8e1eb;
$neutral--10: #ebf0f5;
$neutral--05: #f5f7fa;
$neutral--00: #ffffff;

$green--90: #073E2E;
$green--70: #05855E;
$green--50: #00B881;
$green--30: #00D395;
$green--10: #D8F6ED;

$purple--90: #3C2870;
$purple--70: #7B42EB;
$purple--50: #9669ED;
$purple--30: #C999FF;
$purple--10: #F1E0FF;

$blue--90: #063247;
$blue--70: #05537A;
$blue--50: #05537A;
$blue--30: #00AAFF;
$blue--10: #EAF7FE;

$red--90: #522427;
$red--70: #C22730;
$red--50: #F54E59;
$red--30: #FF7A83;
$red--10: #FFEBEC;

$gold--90: #472214;
$gold--70: #E05A00;
$gold--50: #FF871F;
$gold--30: #FFA947;
$gold--10: #FFE7B8;